.requests-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  width: 85vw;
  gap: 0.5rem;
}

.error-message {
  align-self: center;
  color: #d674ca;
}

.new-btn {
  display: flex;
  align-items: center;
  border: 1px solid rgb(33, 26, 33);
  border-radius: 100px;
  background-color: rgb(70, 53, 70);
  color: white;
  gap: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.new-btn:hover {
  background-color: rgb(48, 37, 48);
  transform: scale(1.02);
  border: 1px solid rgb(255, 255, 255);
}
