main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-content: center;
}

.main-sign-in {
  gap: 8rem;
}

.main-sign-up {
  gap: 3rem;
}

.header {
  font-size: 1.8rem;
  font-weight: 800;
  color: #a1869e;
  text-align: center;
  margin-top: 3rem;
}

.footer {
  margin-top: 1rem;
  text-align: center;
}

.footer h3 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #b3b3b3;
  margin-bottom: 1rem;
}

.footer button {
  background: transparent;
  border: 1px solid #777;
  border-radius: 999px;
  padding: 0.75rem 2rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.footer button:hover {
  border-color: white;
}
