.requests-table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  max-height: 550px;
  margin-bottom: 2rem;
}

.requests-table th {
  padding: 12.5px;
  text-align: left;
  background-color: #633960;
  color: white;
}

.requests-table td {
  padding: 10px;
  overflow-y: auto;
}

.requests-table td div::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

.requests-table td div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(70, 53, 70);
}

.requests-table td div::-webkit-scrollbar-thumb {
  background-color: #a1869e;
  outline: 1px solid #a1869e;
  border-radius: 999px;
}

.requests-table td div {
  max-height: 60px;
  overflow: auto;
}

.requests-table tr {
  background-color: #4e474c;
}

.requests-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.requests-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.requests-table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.requests-table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.pagination {
  align-self: center;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination img {
  height: 1.5rem;
  cursor: pointer;
}

.pagination-button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.selected {
  background-color: #3e3843;
  border-radius: 5px;
}
