.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 80%;
  justify-content: space-between;
}

.credentials {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.credentials-sign-in {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.credentials label {
  font-size: 0.9rem;
  font-weight: 600;
}

.credentials p {
  margin-top: 0;
  font-size: 0.8rem;
}

.main-button {
  margin-top: 1.5rem;
  background-color: #a1869e;
  color: black;
  border: none;
  border-radius: 999px;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.main-button:hover {
  background-color: #c3a5c0;
  transform: scale(1.02);
}

.disabled-main-button {
  background-color: #777;
}

.disabled-main-button:hover {
  background-color: #777;
  transform: scale(1);
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 1rem;
}

.footer h3 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #b3b3b3;
  margin-bottom: 0.6rem;
}

.footer button {
  background: transparent;
  border: 1px solid #777;
  border-radius: 999px;
  padding: 0.7rem 2rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.footer button:hover {
  border-color: white;
}

.error {
  color: #d674ca;
  text-align: center;
}
