.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: white;
}

.auth-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
  max-height: 460px;
}

.header {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  color:  #a1869e;
}

.credentials {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.credentials label {
  font-size: 0.9rem;
  font-weight: 600;
}

.credentials p {
  margin-top: 0;
  font-size: 0.8rem;
}

.input {
  background: transparent;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.input:focus {
  outline: none;
  border-color: white;
}

.main-button {
  margin-top: 1.5rem;
  background-color: #a1869e;
  color: black;
  border: none;
  border-radius: 999px;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.main-button:hover {
  background-color: #c3a5c0;
  transform: scale(1.02);
}

.disabled-main-button {
  background-color: #777 !important;
  margin-top: 1.5rem;
  color: black;
  border: none;
  border-radius: 999px;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 700;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.footer {
  margin-top: 4rem;
  text-align: center;
}

.footer h3 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #b3b3b3;
  margin-bottom: 1rem;
}

.footer button {
  background: transparent;
  border: 1px solid #777;
  border-radius: 999px;
  padding: 0.75rem 2rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.footer button:hover {
  border-color: white;
}

.invalid-input {
  border: 2px solid #b40e0e;
}

.invalid-input:focus {
  border-color: #a1869e;
}

.error-text {
  color: #b40e0e;
}

.eye-image {
  height: 25px;
  cursor: pointer;
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center
}