.avatar-btn {
  background: #c3a5c0;
  border: 1px solid #c3a5c0;
  border-radius: 999px;
  cursor: pointer;
}

.avatar-btn:hover {
  transform: scale(1.02);
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  gap: 0.5rem;
}
