.container {
  display: flex;
  width: 100%;
  height: 15rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.error-text {
  color: #b40e0e;
  margin-bottom: 0;
}

.text {
  resize: none;
  width: 60%;
  height: 50%;
  border: 2px solid #9f9e9e;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}

.invalid-text {
  border: 2px solid #b40e0e;
}

textarea::-webkit-scrollbar {
  width: 0.2em;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(70, 53, 70);
}

textarea::-webkit-scrollbar-thumb {
  background-color: #a1869e;
  outline: 1px solid #a1869e;
  border-radius: 999px;
}

.select,
::picker(select) {
  appearance: base-select;
}

.select {
  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
  width: 60%;
  color: black;
}

.select:hover,
.select:focus {
  background: #dddddd;
}
.select::picker-icon {
  color: #999999;
  transition: 0.4s rotate;
}

.select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}

.select option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.select option:first-of-type {
  border-radius: 8px 8px 0 0;
}

.select option:last-of-type {
  border-radius: 0 0 8px 8px;
}

.select::picker(select) {
  border-radius: 8px;
}

.select option:not(option:last-of-type) {
  border-bottom: none;
}
.select option:nth-of-type(odd) {
  background: white;
}

.select option:hover {
  background: rgb(201, 164, 201);
}

.select option:focus {
  background: plum;
}

option:checked {
  font-weight: bold;
}

