.container {
  display: flex;
  width: 100%;
  height: 15rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.error-text {
  color: #b40e0e;
  margin-bottom: 0;
}

.text {
  resize: none;
  width: 60%;
  height: 50%;
  border: 2px solid #9f9e9e;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}

.invalid-text {
  border: 2px solid #b40e0e;
}

textarea::-webkit-scrollbar {
  width: 0.2em;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(70, 53, 70);
}

textarea::-webkit-scrollbar-thumb {
  background-color: #a1869e;
  outline: 1px solid #a1869e;
  border-radius: 999px;
}

.select {
  width: 50%;
  height: 2rem;
}

.req-error {
  color: #d674ca;
}