.requests-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  width: 85vw;
  gap: 0.5rem;
}

.error-message {
  align-self: center;
  color: #d674ca;
}

.requests-table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  max-height: 550px;
}

.requests-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  text-align: left;
  background-color: #633960 ;
  color: white;
}

.requests-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  max-width: 50px;
  overflow-y: auto;
}

.requests-table td div::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

.requests-table td div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(70, 53, 70);
}

.requests-table td div::-webkit-scrollbar-thumb {
  background-color: #a1869e;
  outline: 1px solid #a1869e;
  border-radius: 999px;
}

.requests-table td div {
  max-height: 60px;
  overflow: auto;
}

.requests-table tr {
  background-color: #4e474c;
}

.requests-table td:first-child {
    max-width: 5px;
}

.requests-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.requests-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.requests-table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.requests-table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.new-btn {
  display: flex;
  align-items: center;
  border: 1px solid rgb(33, 26, 33);
  border-radius: 100px;
  background-color: rgb(70, 53, 70);
  color: white;
  gap: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.new-btn:hover {
  background-color: rgb(48, 37, 48);
  transform: scale(1.02);
  border: 1px solid rgb(255, 255, 255);
}
