.requests-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  width: 85vw;
  gap: 0.5rem;
}

.error-message {
  align-self: center;
  color: #d674ca;
}