.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar button {
  background: transparent;
  border: 1px solid #777;
  border-radius: 999px;
  padding: 0.7rem 2rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem;
}

nav button:hover {
  background-color: #2e2e2e;
  transform: scale(1.02);
}

.profile-picture {
  padding-left: 1%;
  cursor: pointer;
  width: 3.5rem;
}