.approved {
  color: rgb(139, 231, 139);
}

.denied {
  color: rgb(220, 60, 60);
}

.waiting {
  color: rgb(237, 221, 132);
}

.avatar {
  width: 2rem;
}

@media screen and (max-width: 700px) {
  .request {
    background-color: lightgreen;
    flex-direction: column;
  }
}
