.select-contianer {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  align-items: flex-end;
  width: 100%;
  flex-wrap: wrap;
}

.search-form {
  display: flex;
  width: 20%;
}

.search {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: solid 1px white;
  width: 80%;
}

.search:focus {
  outline: none;
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 0.5rem;
}

.search-btn img {
  width: 1.5rem;
}

.calendar {
  cursor: pointer;
}
