.auth-btn {
  background: transparent;
  border: 1px solid #777;
  border-radius: 999px;
  padding: 0.7rem 2rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-left: 15rem;
  width: 20%;
}

.auth-btn:hover {
  background-color: #2e2e2e;
  transform: scale(1.02);
}

.security-img {
    width: 100%;
    height: 100%;
}

.landing-page {
    width: 100vw;
    margin-top: 0;
    background-image: url('../../assets/media/images/security-background.jpg');
    background-size: cover;

}
.landing-page h1 {
    margin-left: 4rem;
}

.landing-page p {
    width: 40%;
    margin-left: 4rem;
}