.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-content: center;
  align-items: center;
  gap: 5rem;
}

.page p {
  margin-top: 3rem;
  max-width: 420px;
}

.header-container {
  margin-top: 5rem;
}

.container {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  font-size: 1.8rem;
  font-weight: 800;
  color: #a1869e;
  text-align: center;
  margin-top: 3rem;
}

.main-button {
  margin-top: 1.5rem;
  background-color: #a1869e;
  color: black;
  border: none;
  border-radius: 999px;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.1s ease;
  color: white;
}

.main-button:hover {
  background-color: #c3a5c0;
  transform: scale(1.02);
}

.disabled-main-button {
  background-color: #777;
}

.disabled-main-button:hover {
  background-color: #777;
  transform: scale(1);
}

.error {
  color: #d674ca;
  text-align: center;
}

.success {
  color: #96dfaa;
  text-align: center;
}
